@using Web.Extensions
@using Sitecore.Data.Items
@using System.Linq
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="carousel" data-component="Carousel">
    @Html.Sitecore().Placeholder("carousel-custom-slides")
    @{
        var folderItem = Model.Item.GetFirstDescendantInheritingFrom(Web.TemplateIds.StandardCarouselSlideFolder);
        var slides = folderItem != null ? folderItem.Children.Cast<Item>() : new List<Item>();
    }
    @foreach (var slide in slides)
    {
        @Html.Sitecore().Rendering(Web.RenderingIds.CarouselSlide.ToString(), new {Datasource=slide.ID})
    }
</div>
